.admin-container {
    width: 99%;
    height: 900px;
    margin: 10px;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #efefef;
  }


.admin-left{

   background-color: rgb(255, 255, 255);
   color: rgb(197, 8, 8);
   border-radius: 0%;
   width: 200px;
}



  
  


  